<div class="container">
    <p>este es el contenido de about</p>
    <div class="container">
        <h1>hello word</h1>
        <button class="btn btn-primary">learn more</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="page-header pt-5 pb-3">
                    <h2>example page header</h2>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
            </div>
            <div class="col-md-4">
                <div class="page-header pt-5 pb-3">
                    <h2>example page header</h2>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
            </div>
            <div class="col-md-4">
                <div class="page-header pt-5 pb-3">
                    <h2>example page header</h2>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
            </div>
        </div>
    </div->
</div>


