<div class="container">
    <p>este es el contenido de contactos</p>
    <div class="container">
        otro container
    </div>
</div>

<div class="container">
  <div class="row row-custom">
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
    <div class="col-md-1 custom-col py-3">.col-md-1</div>
  </div>
  <div class="row row-custom">
    <div class="col-md-8 custom-col py-3">.col-md-8</div>
    <div class="col-md-4 custom-col py-3">.col-md-4</div>
  </div>
  <div class="row row-custom">
    <div class="col-md-4 custom-col py-3">.col-md-4</div>
    <div class="col-md-4 custom-col py-3">.col-md-4</div>
    <div class="col-md-4 custom-col py-3">.col-md-4</div>
  </div>
  <div class="row row-custom">
    <div class="col-md-6 custom-col py-3">.col-md-6</div>
    <div class="col-md-6 custom-col py-3">.col-md-6</div>
  </div>
</div>